@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    background-color: #fff;
    height: 100%;
    min-width: 1440px;
}


/* NAVIGATION STYLE */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem auto 0;
    font-family: 'Raleway';
    width: 90%;
}

nav .nav-links {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: hsl(243, 87%, 12%);
    height: 30px;
}

nav a:hover {
    background-color: hsl(224, 93%, 58%);
    border-radius: 4px;
    color: #fff;
        
}

.features {
    width: 100px;
}

.teams, 
.sign-in {
    width: 80px;
}


/* MAIN ONE STYLE */
.main1 {
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 5rem 8rem;
}

.main1-img {
    width: 568px;
    height: 460px;
}
 
.main1 h1 {
    font-size: 2.3rem;
    color: hsl(243, 87%, 12%);
    padding-bottom: 1.2rem;
    line-height: 3.2rem;
    width: 588px;
    font-weight: 700;
}

.main1 p {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
    width: 520px;
    line-height: 1.4rem;
    padding-bottom: 1.2rem;
}

#inputs,
#inputs1 {
    width: 280px;
    height: 42px;
    margin-right: 0.7rem;
    outline: none;
    border: 1px solid #0E0A25;
    font-family: 'Raleway';
    border-radius: 4px;
    padding-left: 1.2rem;
    color: #333;
}

input::placeholder {
    color: #DADADA;
    font-size: 12px;
}

#submit {
    font-family: 'Raleway';
    padding: 0.9rem 3.2rem;
    background-color: hsl(224, 93%, 58%);
    border: none;
    outline: none;
    color: hsl(240, 75%, 98%);
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 3px 3px 5px 3px hsl(240, 13%, 89%);
    cursor: pointer;
    height: fit-content;
}

#submit:hover {
    background-color:  hsla(224, 93%, 58%, 0.767);
}

.main1 form {
    display: flex;
}



/* MAIN TWO STYLE */
.bg-image {
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 130px;
}

.main2 {
    display: flex;
    align-items: center;
    background-color: hsl(240, 75%, 98%);
    font-family: 'Raleway';
    padding: 1rem 5rem 8rem;
    justify-content: space-between;
}

.main2-img  {
    width: 560px;
    height: 440px;
}

.main2-h1 {
    font-size: 46px;
    width: 780px;
    color: hsl(243, 87%, 12%);
    margin-bottom: 2.2rem;
}

.main2-p {
    font-size: 1rem;
    color: hsl(243, 87%, 12%);
    width: 550px;
    line-height: 1.4rem;
    font-weight: 600;
    padding-bottom: 1.1rem; 
}

.main2-p2 {
    font-size: 1rem;
    width: 550px;
    line-height: 1.4rem;
    font-weight: 600;
    color: hsl(243, 87%, 12%);
    padding-bottom: 1.2rem;
}

.main2-link {
    font-size: 18px;
    font-family: 'Open Sans';
    color: hsl(170, 45%, 43%);
    font-weight: 500;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    border: none;
    background-color:  hsl(240, 75%, 98%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
}

.main2-link:hover, 
.main2-link:active {
    color: hsl(169, 77%, 75%);
    border-bottom: 1px solid hsl(169, 77%, 75%);
    cursor: pointer;
}

.main2-link img {
    width: 18px;
    height: 18px;
    margin-left: 0.4rem;
}

.main2-link img:hover,
.main2-link img:active {
    filter: brightness(0) saturate(100%) invert(99%) sepia(17%) saturate(3704%) hue-rotate(150deg) brightness(89%) contrast(75%);
}

.ceo{
    width: 380px;
    height: 240px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 40px 10px hsl(240, 25%, 94%);
    padding: 1.6rem 0 1.6rem 1.6rem;
}

.ceo img {
    width: 14px;
    height: 16px;
    margin-bottom: 0.5rem;
}

.ceo-speech  {
    font-size: 0.9rem;
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    line-height: 1.6rem;
    margin-bottom: 1.1rem;
    letter-spacing: 1px;
}

.ceo-profile {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.ceo-profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.ceo-name {
    font-size: 12px;
    color: hsl(243, 87%, 12%);
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 0.3rem;
}

.ceo-position {
    font-size: 10px;
    color: hsl(243, 87%, 12%);
    font-weight: 600;
}


/* MAIN THREE STYLE */
.main3 {
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 332px;
    font-family: 'Raleway';
    padding: 0 5rem;
}

.main3 h2 {
    font-size: 24px;
    font-weight: 700;
    width: fit-content;
    margin-bottom: 20px;
}

.main3-p{
    font-size: 1rem;
    line-height: 1.6rem;
    width: 540px;
    letter-spacing: 1px;
}

.main3 #inputs1 {
    width: 500px;
    height: 48px;
    border-radius: 4px;
}

.main3 button {
    background-color: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
    border: none;
    font-family: 'Raleway';
    padding: 0.8rem 2rem;
    font-weight: 700;
    border-radius: 4px;
    font-family: 'Raleway';
    box-shadow: 2px 2px 3px 2px hsla(0, 0%, 39%, 0.534);
    cursor: pointer;
}

.main3 button:hover,
.main3 button:focus {
    background-color: hsl(224, 100%, 71%);
    margin-top: 1rem;
}


/* FOOTER STYLE */
footer {
    background-color: hsl(243, 87%, 12%);
    color: hsl(240, 75%, 98%);
    font-family: 'Raleway';
    font-size: 0.9rem;
}

.all-footer {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0 0 4.5rem 5rem;
}

.footer-content {
    padding-right: 13.5rem;
} 

.footer-logo {
    width: 150px;
    height: 48px;
    margin-bottom: 1rem;
}

footer a {
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans';
    cursor: pointer;
}

footer a:hover {
    color: hsl(238, 22%, 44%);
}

.phone {
    list-style-image: url(./images/icon-phone.svg);
    list-style-position: inside;
    padding-bottom: 1rem;
}

.email {
    list-style-image: url(./images/icon-email.svg);
    list-style-position: inside;
}

.infos {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin-top: 9rem;
}

.infos1  {
    display: flex;
    flex-direction: column;
    height: 134px;
    justify-content: space-between;
}

.infos2 {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.socials {
    display: flex;
    align-self: flex-start;
    gap: 1rem;
    cursor: pointer;
}

.socials img:hover {
    filter: invert(55%) sepia(30%) saturate(921%) hue-rotate(185deg) brightness(94%) contrast(98%);
}

#message{
    font-size: 12px;
    color: red;
}

#message1 {
    font-size: 12px;
    color: #fff;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-size: 16px;
    padding-bottom: 2rem;
}

.attribution a { 
    color: hsl(224, 93%, 58%);
}
   


    /* MOBILE DESIGN */

@media screen and (max-width:375px) {

    body {
        min-width: 375px;
        width: fit-content;
    } 

    nav {
        margin: 3rem;
    }

    nav img {
        width: 200px;
        height: 64px;
    }

    nav .nav-links {
        font-size: 32px;
        width: 436px;
    } 

    nav a {
        height: 60px;
        font-weight: 500;
    }

    .features {
        width: 154px;
    }

    .teams {
        width: 120px;
    }

    .sign-in {
        width: 140px;
    }

    .main1 {
        flex-direction: column-reverse;
        padding: 8rem 0 12rem;
        text-align: center;
        font-family: 'Open Sans';
    }

    .main1-img {
        width: 700px;
        height: 600px;
    }

    .main1-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    .main1 h1 {
        font-size: 3.3rem;
        width: 700px;
        line-height: 72px;
    }

    .main1 p {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        width: 670px;
        padding-top: 2.2rem;
        padding-bottom: 4rem;
    }

    #inputs {
        width: 660px;
        height: 80px;
        padding-left: 2.6rem;
    }

    .main1 form {
        display: flex;
        flex-direction: column;
    }

    #message,
    #message1 {
        display: flex;
        align-items:flex-start;
        font-size: 16px;
    }

    input::placeholder {
        font-size: 28px;
        top: 0.5rem;
        position: relative;
    }

    #submit {
        padding: 1.5rem 15.6rem;
        margin-top: 2rem;
        font-size: 1.75rem;
        font-family: 'Raleway';
    }

    .bg-image {
        background-image: url(./images/bg-curve-mobile.svg);
        padding-bottom: 200px;
    }

    .main2 {
        flex-direction: column-reverse;
        margin: 0;
    }

    .main2-img {
        width: 700px;
        height: 600px;
    }

    .main2-h1 {
        width: 652px;
        font-size: 38px;
        left: 4rem;
        position:relative;
        padding-top: 10rem;
        padding-bottom: 1rem;
    }

    .main2-p {
        font-size: 32px;
        font-weight: 500;
        line-height: 3.2rem;
        width: 732px;
    }

    .main2-p2 {
        padding-top: 1rem;
    }

    .main2-link {
        margin: 3rem auto 5rem;
        font-size: 32px;
        height: 60px;
    }

    .main2-link img {
        width: 36px;
        height: 36px;
    }

    .ceo {
        width: 704px;
        height: 420px;
        padding: 3rem 0 3rem 3.6rem;
        margin-bottom: 4rem;
    }

    .ceo img {
        width: 32px;
        height: 28px;
    }

    .ceo-speech{
        font-weight: 500;
        font-size: 1.6rem;
        width: 620px;
        line-height: 2.6rem;
        padding: 1rem 0;
    }

    .ceo-profile img {
        width: 64px;
        height: 64px;
    }

    .ceo-details .ceo-name {
        font-size: 24px;
        font-weight:800;
    }

    .ceo-details .ceo-position {
        font-size: 16px;
        font-weight: 600;
       
    }

    .main3 {
        flex-direction: column;
        height: fit-content;
        padding: 8rem 0 8.6rem;
    }

    .main3 h2 {
        font-size: 3rem;
        position: relative;
        left: 8rem;
    }

    .main3-p {
        font-family: 'Open Sans';
        font-size: 2.3rem;
        padding: 2rem 0 3.8rem;
        width: 800px;
        line-height: 56px;
        text-align: center;
    }

    .main3 #inputs1  {
        width: 660px;
        height: 96px;
    }

    #main3-input1::placeholder {
        font-size: 28px;
        top: 0.5rem;
        position: relative;
    }

    .main3 button {
        padding: 1.8rem 12.3rem;
        font-size: 28px;
        font-weight: 500;
        margin-top: 1.4rem;
    }

    footer {
      display: flex;
      flex-direction: column;
      padding-left: 3.5rem;
    }

    .all-footer {
        flex-direction: column;  
        font-size: 2.4rem;
        padding: 7.4rem 0;
    }

    footer a {
        padding-bottom: 2rem;
        font-weight: 400;
    }

    .footer-logo {
        width: 364px;
        height: 116px;
        margin-bottom: 3rem;
    }

    .phone {
        padding-bottom: 2.4rem;
        list-style-image: url(./images/phone.png);
    }

    .email {
        list-style-image: url(./images/Mail.png);
    }
    
    .infos {
        flex-direction: column;
        width: 460px;
        height: 840px;
        align-self: flex-start;
        padding-top: 3.5rem;
        font-size: 2.3rem;
    }

    .socials {
        align-self: flex-end;
        gap: 1.2rem;
    }

    .socials img {
        width: 64px;
        height: 64px;
    }
}