@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0);
    min-height: 100vh;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 3rem 5rem 0;
   font-family: 'Raleway';
}

nav .nav-links {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: hsl(0, 0%, 75%);
    height: 30px;
}

.features {
    width: 100px;
}

.teams {
    width: 80px;
}

.sign-in {
    width: 80px;
}

nav a:hover {
    background-color: hsl(224, 93%, 58%);
    border-radius: 4px;
    color: #fff;
}

.main1 {
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5rem;
    height: 732px;
   
}

.main1-content {
    width: 620px;
    height: 276px;
}

.main1 img {
    width: 568px;
    height: 460px;
    /* margin-right: 70px; */
}
 
.main1 h1 {
    font-size: 2.3rem;
    color: hsl(243, 87%, 12%);
    padding-bottom: 1.2rem;
    line-height: 3.2rem;
    width: 588px;
    font-weight: 700;
}

.main1 p {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
    width: 520px;
    line-height: 1.4rem;
    padding-bottom: 1.2rem;
}

#main1-input,
#main3-input {
    width: 280px;
    height: 42px;
    margin-right: 0.7rem;
    outline: none;
    border: 1px solid #676768;
    font-family: 'Raleway';
    border-radius: 4px;
    padding-left: 1.2rem;
}

input::placeholder {
    color: #DADADA;
    font-size: 12px;
}

.main1 button {
    font-family: 'Raleway';
    padding: 0.9rem 3.2rem;
    background-color: hsl(224, 93%, 58%);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 4px;
    font-weight: 500;
    box-shadow: 2px 2px 5px 3px hsl(240, 13%, 89%);
}


.bg-image {
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 130px;
}

.main2 {
    display: flex;
    align-items: center;
    background-color: #F8F8FE;
    font-family: 'Raleway';
    height: 731px;
    padding: 1rem 5rem;
    justify-content: space-between;
}

.main2-img  {
    width: 560px;
    height: 440px;
}

.main2-h1 {
    font-size: 46px;
    width: 780px;
    color: hsl(243, 87%, 12%);
    margin-bottom: 2.2rem;
}

.main2-p {
    font-size: 1rem;
    color: hsl(243, 87%, 12%);
    width: 550px;
    line-height: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.1rem; 
}

.main2-p2 {
    font-size: 1rem;
    width: 550px;
    line-height: 1.4rem;
    font-weight: 600;
    color: hsl(243, 87%, 12%);
    margin-bottom: 1.2rem;
}

.main2-link {
    font-size: 18px;
    font-family: 'Open Sans';
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    font-weight: 600;
    width: fit-content;
    height: 36px;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.main2-link:hover {
    box-shadow: 2px 2px 5px 1px hsla(170, 45%, 43%, 0.473);
}

.main2-link img {
    width: 18px;
    height: 18px;
    margin-left: 0.4rem;
}

.ceo{
    width: 380px;
    height: 240px;
    background-color: hsl(240, 75%, 98%);;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 3px hsl(240, 25%, 94%);
    padding: 1.6rem 0 1.6rem 1.2rem;
}

.ceo img {
    width: 14px;
    height: 16px;
    margin-bottom: 0.5rem;
}

.ceo-speech  {
    font-size: 0.9rem;
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    line-height: 1.6rem;
    margin-bottom: 1.1rem;
    letter-spacing: 1px;
    width: fit-content;
}

.ceo-profile {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.ceo-profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.ceo-name {
    font-size: 12px;
    color: hsl(243, 87%, 12%);
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 0.3rem;
}

.ceo-position {
    font-size: 10px;
    color: hsl(243, 87%, 12%);
    font-weight: 600;
}

.main3 {
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 332px;
    font-family: 'Raleway';
    padding: 0 5rem;
}

.main3 h2 {
    font-size: 24px;
    font-weight: 700;
    width: fit-content;
    margin-bottom: 20px;
}

.main3-p{
    font-size: 1rem;
    line-height: 1.6rem;
    width: 540px;
    letter-spacing: 1px;
}

#main3-input {
    width: 500px;
    height: 48px;
}

.main3 button {
    background-color: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
    border: none;
    font-family: 'Raleway';
    padding: 0.8rem 2rem;
    font-weight: 700;
    border-radius: 4px;
    font-family: 'Raleway';
    margin-top: 1rem;
    box-shadow: 2px 2px 3px 2px hsla(0, 0%, 39%, 0.534);
}

button:hover {
    background-color:  hsla(224, 93%, 58%, 0.767);
}

footer {
    background-color: hsl(243, 87%, 12%);
    color:  hsl(240, 75%, 98%);
    font-family: 'Raleway';
    font-size: 0.9rem;
    height: 400px;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.footer-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 1200px;
 
} 

.footer-logo {
    width: 150px;
    height: 48px;
    margin-bottom: 1rem;
}

footer a {
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans';
}

footer a:hover {
    color: hsl(224, 93%, 58%);
}

.phone {
    list-style-image: url(./images/icon-phone.svg);
    list-style-position: inside;
    padding-bottom: 1rem;
}

.email {
    list-style-image: url(./images/icon-email.svg);
    list-style-position: inside;
}

.infos {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin-top: 9rem;
    align-items: flex-start;
}

.infos1  {
    display: flex;
    flex-direction: column;
    height: 134px;
    justify-content: space-between;
}

.infos2 {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.socials {
    display: flex;
    gap: 0.7rem;
}


@media screen and (max-width: 375px) {
    * {
        width: 375px;
    }

    nav img {
        width: 164px;
        height: 54px;
    }

    nav {
        width: 1000px;
    }

    .main1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 900px;
        height: 1500px;
    }

    .main1 h1 {
    font-size: 48px;
    padding: 3rem 0;
    text-align: center;
    width: 630px;
    }

    .main1 p {
        font-size: 26px;
        text-align: center;
        width: 566px;
        font-weight: 500;
        line-height: 32px;
        padding-bottom: 60px;
    }

    #main1-input {
        width: 608px;
        height: 72px;
    }

    input::placeholder {
        font-size: 24px;
        padding-left: 1.4rem;
    }

    .main1 button {
        width: 608px;
        height: 72px;
        font-size: 28px;
        margin-top: 2rem;
    }

    .bg-image {
        background-image: url(./images/bg-curve-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 1140px;
        padding-bottom: 130px;
        margin-top: 8rem;
    }

    .main2 {
        border: 1px solid red;
        width: 1140px;
        display: flex;
        flex-direction: column-reverse;
        height: 900px;
        align-items: center;
    }
}