@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    background-color: #fff;
    height: 100%;
    min-width: 1440px;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 3rem auto 0;
   font-family: 'Raleway';
   width: 90%;
}

nav .nav-links {
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: hsl(243, 87%, 12%);
    height: 30px;
}

nav a:hover {
    background-color: hsl(224, 93%, 58%);
    border-radius: 4px;
    color: hsl(240, 75%, 98%);
        
}

.features {
    width: 100px;
}

.teams, 
.sign-in {
    width: 80px;
}

.main1 {
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 5rem 8rem;
}

.main1 img {
    width: 568px;
    height: 460px;
}
 
.main1 h1 {
    font-size: 2.3rem;
    color: hsl(243, 87%, 12%);
    padding-bottom: 1.2rem;
    line-height: 3.2rem;
    width: 588px;
    font-weight: 700;
}

.main1 p {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
    width: 520px;
    line-height: 1.4rem;
    padding-bottom: 1.2rem;
}

#main1-input,
#main3-input {
    width: 280px;
    height: 42px;
    margin-right: 0.7rem;
    outline: none;
    border: 1px solid #0E0A25;
    font-family: 'Raleway';
    border-radius: 4px;
    padding-left: 1.2rem;
}

input::placeholder {
    color: #DADADA;
    font-size: 12px;
}

.main1 button {
    font-family: 'Raleway';
    padding: 0.9rem 3.2rem;
    background-color: hsl(224, 93%, 58%);
    border: none;
    outline: none;
    color: hsl(240, 75%, 98%);
    border-radius: 4px;
    font-weight: 700;
    box-shadow: 2px 2px 5px 3px hsl(240, 13%, 89%);
}


.bg-image {
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 130px;
}

.main2 {
    display: flex;
    align-items: center;
    background-color: hsl(240, 75%, 98%);
    font-family: 'Raleway';
    padding: 1rem 5rem;
    justify-content: space-between;
}

.main2-img  {
    width: 560px;
    height: 440px;
}

.main2-h1 {
    font-size: 46px;
    width: 780px;
    color: hsl(243, 87%, 12%);
    margin-bottom: 2.2rem;
}

.main2-p {
    font-size: 1rem;
    color: hsl(243, 87%, 12%);
    width: 550px;
    line-height: 1.4rem;
    font-weight: 600;
    padding-bottom: 1.1rem; 
}

.main2-p2 {
    font-size: 1rem;
    width: 550px;
    line-height: 1.4rem;
    font-weight: 600;
    color: hsl(243, 87%, 12%);
    padding-bottom: 1.2rem;
}

.main2-link {
    font-size: 18px;
    font-family: 'Open Sans';
    color: hsl(170, 45%, 43%);
    font-weight: 500;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    border: none;
    background-color:  hsl(240, 75%, 98%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
}

.main2-link:hover, 
.main2-link:active {
    box-shadow: 2px 2px 5px 1px hsla(170, 45%, 43%, 0.473);
    border-bottom: 2px solid hsl(170, 45%, 43%);
}

.main2-link img {
    width: 18px;
    height: 18px;
    margin-left: 0.4rem;
}

.ceo{
    width: 380px;
    height: 240px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 3px hsl(240, 25%, 94%);
    padding: 1.6rem 0 1.6rem 1.6rem;
}

.ceo img {
    width: 14px;
    height: 16px;
    margin-bottom: 0.5rem;
}

.ceo-speech  {
    font-size: 0.9rem;
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    line-height: 1.6rem;
    margin-bottom: 1.1rem;
    letter-spacing: 1px;
}

.ceo-profile {
    display: flex;
    align-items: center;
    gap: 0 8px;
}

.ceo-profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.ceo-name {
    font-size: 12px;
    color: hsl(243, 87%, 12%);
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 0.3rem;
}

.ceo-position {
    font-size: 10px;
    color: hsl(243, 87%, 12%);
    font-weight: 600;
}

.main3 {
    background-color: hsl(238, 22%, 44%);
    color: hsl(240, 75%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 332px;
    font-family: 'Raleway';
    padding: 0 5rem;
}

.main3 h2 {
    font-size: 24px;
    font-weight: 700;
    width: fit-content;
    margin-bottom: 20px;
}

.main3-p{
    font-size: 1rem;
    line-height: 1.6rem;
    width: 540px;
    letter-spacing: 1px;
}

#main3-input {
    width: 500px;
    height: 48px;
    border-radius: 4px;
}

.main3 button {
    background-color: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
    border: none;
    font-family: 'Raleway';
    padding: 0.8rem 2rem;
    font-weight: 700;
    border-radius: 4px;
    font-family: 'Raleway';
    margin-top: 1rem;
    box-shadow: 2px 2px 3px 2px hsla(0, 0%, 39%, 0.534);
}

button:hover {
    background-color:  hsla(224, 93%, 58%, 0.767);
}

footer {
    background-color: hsl(243, 87%, 12%);
    color:  hsl(240, 75%, 98%);
    font-family: 'Raleway';
    font-size: 0.9rem;
}

.all-footer {
    width: fit-content;
    display: flex;
    align-items: center;
    padding-top: 6.8rem;
    padding-left: 5rem;
    padding-bottom: 4.5rem;
}

.footer-content {
    padding-right: 13.5rem;
} 

.footer-logo {
    width: 150px;
    height: 48px;
    margin-bottom: 1rem;
}

footer a {
    color: inherit;
    text-decoration: none;
    font-family: 'Open Sans';
}

footer a:hover {
    color: hsl(224, 93%, 58%);
}

.phone {
    list-style-image: url(./images/icon-phone.svg);
    list-style-position: inside;
    padding-bottom: 1rem;
}

.email {
    list-style-image: url(./images/icon-email.svg);
    list-style-position: inside;
}

.infos {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin-top: 3rem;
}

.infos1  {
    display: flex;
    flex-direction: column;
    height: 134px;
    justify-content: space-between;
}

.infos2 {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
}

.socials {
    display: flex;
    align-self: flex-start;
    gap: 0.7rem;
}


@media screen and (max-width: 375px) {

   /*  body {
        width: 375px;
    } */

    nav {
        /* width: 800px; */
        margin-top: 5rem;
    }

    nav img {
        width: 200px;
        height: 66px;
    }

    nav .nav-links {
        font-size: 28px;
        width: 460px;
    } 

    nav a {
        height: 60px;
        font-weight: 500;
    }

    .features {
        width: 154px;
    }

    .teams {
        width: 120px;
    }

    .sign-in {
        width: 140px;
    }

    .main1 {
        flex-direction: column-reverse;
        padding-top: 3rem;
        text-align: center;
        font-family: 'Open Sans';
    }

    .main1 img {
        width: 632px;
        height: 472px;
    }

    .main1-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    .main1 h1 {
        font-size: 3rem;
        width: 700px;
        line-height: 68px;
    }

    .main1 p {
        font-size: 28px;
        font-weight: 500;
        line-height: 40px;
        width: 590px;
        padding-top: 3.5rem;
        padding-bottom: 4rem;
    }

    #main1-input {
        width: 612px;
        height: 80px;
        padding-left: 2.6rem;
    }

    input::placeholder {
        font-size: 24px;
    }

    .main1 button {
        padding: 1.5rem 14.2rem;
        margin-top: 2rem;
        font-size: 1.75rem;
        font-family: 'Raleway';
    }

    .bg-image {
        background-image: url(./images/bg-curve-mobile.svg);
        padding-bottom: 200px;
    }

    .main2 {
        flex-direction: column-reverse;
    }

    .main2-img {
        width: 652px;
        height: 500px;
    }

    .main2-h1 {
        width: 652px;
        font-size: 34px;
        text-align: center;
        padding-top: 6rem;
        padding-bottom: 1rem;
    }

    .main2 p {
        font-size: 28px;
        font-weight: 400;
        line-height: 2.25rem;
        width: 636px;
    }

    .main2-link {
        margin: 3rem auto;
        font-size: 26px;
        height: 60px;
    }

    .main2-link img {
        width: 30px;
        height: 30px;
    }

    .ceo {
        width: 580px;
        height: 352px;
        padding-left: 3.2rem;
        margin-bottom: 10rem;
    }

    .ceo img {
        width: 24px;
        height: 22px;
    }

    .ceo p{
        font-weight: 700;
        font-size: 1.25rem;
        width: 510px;
    }

    .ceo-profile img {
        width: 48px;
        height: 48px;
    }

    .ceo-details .ceo-name {
        font-size: 20px;
        font-weight: 900;
        width: fit-content;
    }

    .ceo-details .ceo-position {
        font-size: 14px;
        font-weight: 600;
        width: fit-content;
    }

    .main3 {
        flex-direction: column;
        height: fit-content;
        padding: 8rem 0;
        padding-top: 7rem;
    }

    .main3 h2 {
        font-size: 2.2rem;
        position: relative;
        left: 6.5rem;
    }

    .main3-p {
        font-size: 1.6rem;
        padding: 2.5rem 0;
        width: 560px;
        line-height: 40px;
        font-weight: 400;
        text-align: center;
    }

    #main3-input  {
        width: 480px;
        height: 64px;
    }

    #main3-input::placeholder {
        font-size: 18px;
    }

    .main3 button {
        padding: 1.4rem 9.7rem;
        font-size: 18px;
        font-weight: 500;
    }

    footer {
      display: flex;
      justify-content:center;
    }

    .all-footer {
        flex-direction: column;  
        font-size: 1.7rem;
        padding: 8rem 0 5.8rem;
    }

    footer a {
        font-size: 1.7rem;
        padding-bottom: 2rem;
        font-weight: 400;
    }

    .footer-logo {
        width: 348px;
        height: 102px;
        margin-bottom: 3rem;
    }

    .phone {
        padding-bottom: 2.4rem;
        list-style-image: url(./images/phone.png);
    }

    .email {
        list-style-image: url(./images/Mail.png);
    }
    
    .infos {
        flex-direction: column;
        width: 400px;
        height: 614px;
        align-self: flex-start;
        padding-top: 3.5rem;
    }

    .socials {
        align-self: flex-end;
        gap: 1.2rem;
    }

    .socials img {
        width: 52px;
        height: 52px;
    }
}